<ion-header>
  <ion-toolbar color="secondary">
    <ion-title><img  height="40"   src="assets/img/logo.png" ></ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>

 
  <ion-list>
 
    <ion-item button *ngFor="let item of results" (click)="detalhes(item.id)" >
      <ion-avatar >
        <img [src]="item.foto" *ngIf="item.foto != 'N/A'">
      </ion-avatar>
 
      <ion-label text-wrap>
        <h3>{{ item.nome }}</h3>
        {{ item.cargo }}
      </ion-label>

 
    </ion-item>
 
  </ion-list>
 
</ion-content>
